Repository cms-gem-daq-project/gem-plotting-tools, pull requests merged in 2018-03, with the labels that each got.

#70 Bug Fix: Updating the fitter to work with ROOT 6 and fix bug 62
  fitting/fitScanData.py
Labels: Priority: Medium, Type: Bugfix, Type: Maintenance

#72 New Feature: Streamlined Handling of ListOfScanDate Files and Provided Automatic Packager To Get Data for Travis/Docker
  anautilities.py
  macros/gemPlotter.py
  macros/gemSCurveAnaToolkit.py
  macros/gemTreeDrawWrapper.py
  macros/plot_eff.py
  packageFiles4Docker.py
Labels: Priority: Medium, Status: Review Needed, Type: Enhancement

#74 Resolve Divergences Between V3 and V2b Software
  anaSBitThresh.py
  anaUltraLatency.py
  anaUltraScurve.py
  anaUltraThreshold.py
  fitting/fitScanData.py
  macros/gemSCurveAnaToolkit.py
  macros/scurvePlottingUtitilities.py
  mapping/amcInfo.py
  mapping/chamberInfo.py
Labels: Priority: Medium, Status: Review Needed, Type: Enhancement

#75 Refactoring of anaUltraScurve.py and additional output distributions
  anaInfo.py
  anaUltraScurve.py
  anautilities.py
  fitting/fitScanData.py
Labels: Priority: Medium, Status: Review Needed, Type: Enhancement, Type: Maintenance
