Repository cms-gem-daq-project/gem-plotting-tools, pull requests merged in 2018-07, with the labels that each got.

#128 Bug fix for #126 [master]
  macros/plot_eff.py
Labels: Priority: High, Type: Bugfix

#127 Bug fix for #126 [develop]
  macros/plot_eff.py
Labels: Priority: High, Type: Bugfix

#125 Developer instructions
  .github/CONTRIBUTING.md
  doc/coding.rst
  doc/index.rst
  doc/setup.rst
  doc/virtualenv-p5.rst
Labels: Priority: Medium, Type: Documentation, Type: Enhancement

#132 Update P5 setup instructions (bis)
  README.md
Labels: Priority: Medium, Type: Documentation, Type: Enhancement

#131 Bug Fix: ImportError with get2DMap (issue #129)
  anautilities.py
Labels: Priority: High, Status: Review Needed, Type: Bugfix

#141 New Feature: Routine for Calibrating the CFG_THR_*_DAC of VFAT3
  anautilities.py
  macros/calibrateThrDac.py
Labels: Priority: High, Status: Review Needed, Type: Enhancement
