Repository cms-gem-daq-project/gem-plotting-tools, pull requests merged in 2018-10, with the labels that each got.

#153 New Feature: Adding 2D histograms for scurve width & sigma for calibrateThrDac.py
  macros/calibrateThrDac.py
Labels: Priority: Medium, Status: Review Needed, Type: Enhancement

#157 New Feature: adding new directories in DATA_PATH for new vfatqc tools
  utils/anaInfo.py
  utils/anautilities.py
Labels: Priority: Critical, Status: Review Needed, Type: Enhancement

#162 improvements to anaDACScan.py: replace out-of-range DAC values, improve handling of whitespace/newlines in calibration file
  anaDACScan.py
Labels: PR: reviewed-approved
