Repository cms-gem-daq-project/gem-plotting-tools, pull requests merged in 2018-08, with the labels that each got.

#146 Fix endDate argument of makeListOfScanDatesFile
  anautilities.py
Labels: Priority: Medium, Type: Bugfix

#147 Modification in fitting routine used in anaUltraScurve.py
  fitting/fitScanData.py
Labels: Priority: High, Type: Bugfix, Type: Question

#136 Docs migration: finish migration of the README
  anaInfo.py
  anaoptions.py
  anautilities.py
  doc/analyzing-scans.rst
  doc/conf.py
  doc/fitting.rst
  doc/index.rst
  doc/macros.rst
  doc/man-index.rst
  doc/man/gemSCurveAnaToolkit.rst
  doc/man/plotSCurveFitResults.rst
  doc/man/plot_eff.rst
  doc/man/timeHistoryAnalyzer.rst
  doc/mapping.rst
  doc/masking.rst
  doc/modules-index.rst
  doc/modules/fitting/fitScanData.rst
  doc/modules/mapping/PanChannelMaps.rst
  doc/modules/mapping/amcInfo.rst
  doc/modules/mapping/chamberInfo.rst
  doc/modules/mapping/channelMaps.rst
  doc/modules/utils/anaInfo.rst
  doc/modules/utils/anahistory.rst
  doc/modules/utils/anaoptions.rst
  doc/modules/utils/anautilities.rst
  doc/scandate-list-formats.rst
  doc/scurve-plotting-tools.rst
  doc/utils.rst
  fitting/fitScanData.py
  macros/clusterAnaScurve.py
  macros/gemPlotter.py
  macros/gemSCurveAnaToolkit.py
  macros/gemTreeDrawWrapper.py
  macros/plotSCurveFitResults.py
  macros/plot_eff.py
  macros/timeHistoryAnalyzer.py
  mapping/PanChannelMaps.py
  mapping/amcInfo.py
  mapping/chamberInfo.py
  mapping/channelMaps.py
  packageFiles4Docker.py
  utils/anahistory.py
Labels: Priority: Medium, Type: Documentation, Type: Enhancement

#150 Sigma fitting modification
  fitting/fitScanData.py
Labels: Priority: High, Type: Bugfix, Type: Maintenance

#149 Addresses #145 and Adds Summary TCanvases
  macros/calibrateThrDac.py
Labels: Priority: Medium, Status: Review Needed, Type: Bugfix, Type: Enhancement

#148 Move anaInfo, anaoptions and anautilities to utils/
  Makefile
  utils/anaInfo.py
  utils/anaoptions.py
  utils/anautilities.py
Labels: Priority: Low, Status: Review Needed, Type: Maintenance

#151 New Features: Analyzing checkSbitMappingAndRate.py data
  anaSBitMonitor.py
  anaSBitThresh.py
  anaUltraScurve.py
  anaUltraThreshold.py
  mapping/chamberInfo.py
  utils/anautilities.py
Labels: Status: In Progress
