Repository cms-gem-daq-project/gem-plotting-tools, pull requests merged in 2018-11, with the labels that each got.

#163 Adding CFG_BIAS_PRE_I_BSF to list of DAC Scans
  utils/anaInfo.py
Labels: PR: unreviewed, Priority: Medium, Status: Review Needed, Type: Enhancement

#165 Bug Fix: anaDACScan.py capitalization inconsistency and file extension problem
  doc/man/anaDACScan.rst
Labels: PR: reviewed-approved

#168 in anaDACScan.py, use import statements that work in venv
  anaDACScan.py
Labels: PR: unreviewed

#169 Update anaDACScans.py to handle files containing multiple DAC Scans
  anaDACScan.py
  utils/anaInfo.py
Labels: PR: reviewed-approved, Priority: Medium, Status: Review Needed, Type: Enhancement

#170 New Feature: Adding Script for Plotting Channel Loss Rate
  doc/conf.py
  doc/man-index.rst
  doc/man/plotChanLossRate.rst
  macros/plotChanLossRate.py
Labels: PR: reviewed-approved, Priority: Medium, Status: Review Needed, Type: Enhancement
