Repository cms-gem-daq-project/gem-plotting-tools, pull requests merged in 2018-06, with the labels that each got.

#103 Bug Fix: Addresses #101
  anautilities.py
  macros/clusterAnaScurve.py
Labels: Priority: Medium, Type: Bugfix

#111 Ignore files generated by "make rpm"
  .gitignore
Labels: Priority: Low, Type: Maintenance

#110 Maintenance: Update CFG_CAL_DAC to Charge Conversion for v3
  anaUltraScurve.py
  fitting/fitScanData.py
Labels: Priority: High, Status: Review Needed, Type: Maintenance

#109 Update setup instructions
  README.md
Labels: Priority: Medium, Status: Review Needed, Type: Documentation, Type: Enhancement, Type: Maintenance

#114 Bug Fix: initial guess for scurve mean position was range limited
  fitting/fitScanData.py
Labels: Priority: High, Status: Review Needed, Type: Bugfix

#112 Feature: time history analyzer
  .gitignore
  Makefile
  README.md
  anaInfo.py
  macros/timeHistoryAnalyzer.py
  macros/timeHistoryAnalyzerAllRanges.sh
  pkg/setup.cfg
  requirements.txt
  utils/__init__.py
  utils/anahistory.py
Labels: Priority: High, Status: Review Needed, Type: Enhancement

#116 Docs migration (first round: mainly gemPlotter.py)
  anaInfo.py
  anaSBitThresh.py
  anaUltraLatency.py
  anaUltraScurve.py
  anaUltraThreshold.py
  anaXDAQLatency.py
  ana_scans.py
  anaoptions.py
  anautilities.py
  doc/conf.py
  doc/fitting.rst
  doc/index.rst
  doc/macros.rst
  doc/man/gemPlotter.rst
  doc/mapping.rst
  doc/utils.rst
  fitting/fitScanData.py
  macros/clusterAnaScurve.py
  macros/gemPlotter.py
  macros/gemSCurveAnaToolkit.py
  macros/gemTreeDrawWrapper.py
  macros/plotSCurveFitResults.py
  macros/plotTimeSeries.py
  macros/plot_eff.py
  macros/plot_noise_vs_trim.py
  macros/plot_scurves_by_thresh.py
  macros/plot_vfat_and_channel_Scurve.py
  macros/plot_vfat_summary.py
  macros/plotoptions.py
  macros/scurvePlottingUtitilities.py
  macros/summary_plots.py
  mapping/PanChannelMaps.py
  mapping/amcInfo.py
  mapping/chamberInfo.py
  mapping/channelMaps.py
  packageFiles4Docker.py
Labels: Priority: Medium, Status: Review Needed, Type: Documentation, Type: Maintenance

#119 Bug Fix: Bad histo range and superfluous warning message printing in anaUltraScurve.py
  anaUltraScurve.py
  fitting/fitScanData.py
Labels: Priority: High, Status: Review Needed, Type: Bugfix

#122 New Feature: 2D Detector Map
  anaUltraScurve.py
  anautilities.py
  mapping/chamberInfo.py
Labels: Priority: High, Status: Review Needed, Type: Enhancement
