Repository cms-gem-daq-project/gem-plotting-tools, pull requests merged in 2019-08, with the labels that each got.

#239 Apply scurve quality masks in ARM DAC calibration
  anaUltraScurve.py
  ana_scans.py
  fitting/fitScanData.py
  macros/calibrateThrDac.py
  utils/anaInfo.py
  utils/anaoptions.py
  utils/scurveAlgos.py
  utils/threshAlgos.py
Labels: PR: unreviewed

#231 [feature] Finding inflection point
  utils/anautilities.py
  utils/threshAlgos.py
Labels: PR: unreviewed, Priority: Medium, Status: Review Needed

#241 Resolving Version Mismatch w/cx_Oracle & sqlalchemy (Issue #240) and Providing Tool for Comparing Results from anaUltraLatency.py
  macros/plotLatComp.py
  macros/plotSbitThreshComp.py
  utils/dbutils.py
Labels: PR: reviewed-approved, Priority: Medium, Type: Bugfix, Type: Enhancement, Type: Maintenance
