Repository cms-gem-daq-project/gem-plotting-tools, pull requests merged in 2019-03, with the labels that each got.

#185 Creating SBIT Readout Analysis Tool
  anaSBitReadout.py
  doc/man-index.rst
  doc/man/anaSBitReadout.rst
  utils/anautilities.py
  utils/dbutils.py
Labels: PR: unreviewed, Priority: Medium, Type: Enhancement

#189 Addresses #180, Implementing Idea #2
  anaDACScan.py
  ana_scans.py
  macros/plot_eff.py
  mapping/chamberInfo.py
  utils/anautilities.py
  utils/dbutils.py
Labels: PR: unreviewed, Priority: High, Status: Review Needed, Type: Enhancement, Type: Maintenance

#191 Maintenance: Remove setup directory and associated instructions
  README.md
  setup/createVirtualEnvPy26.sh
  setup/createVirtualEnvPy27.sh
  setup/paths.sh
Labels: PR: unreviewed, Priority: Medium, Type: Maintenance

#192 Update anaUltraScurve.py to no longer use vfat2 dead chan cut as default; Addresses Issue 190
  anaUltraScurve.py
Labels: PR: reviewed-approved, Priority: Medium, Status: Accepted, Status: Review Needed, Type: Enhancement

#193 [Bug Fix]: in DAC scan analysis, link should be compared with a single number
  utils/anautilities.py
Labels: PR: reviewed-approved, Priority: High, Type: Bugfix

#194 New Feature: Updating anaSBitThresh.py For MultiLink Analysis
  anaSBitThresh.py
  mapping/chamberInfo.py
  utils/anautilities.py
Labels: PR: unreviewed, Priority: High, Status: Review Needed, Type: Enhancement
