Repository cms-gem-daq-project/gem-plotting-tools, pull requests merged in 2019-05, with the labels that each got.

#201 New Feature: Plotting GBT phase scan results
  doc/man-index.rst
  doc/man/makePhaseScanPlots.rst
  macros/makePhaseScanPlots.py
  utils/anautilities.py
Labels: PR: unreviewed, Priority: High, Status: Review Needed, Type: Enhancement

#205 Bug Fix: Addresses issue #196
  macros/plotSbitThreshComp.py
Labels: PR: unreviewed, Priority: High, Type: Bugfix

#207 Updating default highNoiseCut value in anaUltraScurve.py from 1.0 to 3.0 fC
  anaUltraScurve.py
Labels: PR: reviewed-approved, Priority: High, Type: Maintenance

#211 [Bugfix] forgot to import os in armDac calibration parsing function
  utils/anautilities.py
Labels: PR: reviewed-approved, Type: Bugfix

#212 in calibrateThrDac.py, remove points with low scurveMeanError and restrict fit range
  macros/calibrateThrDac.py
  utils/anaInfo.py
Labels: PR: reviewed-approved
