Repository cms-gem-daq-project/gem-plotting-tools, pull requests merged in 2019-04, with the labels that each got.

#198 Fix bug in anaDACScan.py (issue 197)
  utils/anautilities.py
Labels: PR: unreviewed

#186 updates to calibrateThrDac.py fits: removal of low thrDac values sensitive to pedestal and use of non-linear function
  macros/calibrateThrDac.py
Labels: PR: reviewed-approved, Priority: High, Status: Review Needed, Type: Enhancement

#200 several changes implied by new quartic fitting function
  macros/calibrateThrDac.py
  utils/anautilities.py
Labels: Priority: High, Status: Review Needed, Type: Enhancement
