Repository cms-gem-daq-project/gem-plotting-tools, pull requests merged in 2019-06, with the labels that each got.

#213 in anaUltraScurve.py, TF1 associated with TTree branch should be copied into
  anaUltraScurve.py
Labels: PR: reviewed-approved, Priority: High, Status: Accepted, Type: Bugfix

#215 New Feature: dacAnalysis raises ValueError if one or more DACs Out of Range
  anaDACScan.py
  utils/anautilities.py
  utils/exceptions.py
Labels: PR: reviewed-approved, Priority: High, Type: Enhancement

#218 Bug Fix: Addressing issue #217
  utils/anautilities.py
Labels: PR: unreviewed, Priority: Critical, Type: Bugfix

#220 [Bug Fix] Fixed TypeError due to bad usage of init method
  utils/anautilities.py
Labels: PR: unreviewed, Priority: Critical, Type: Bugfix

#221 Fix multiple identical ohKey in `crateMap` in `dacAnalysis`
  utils/anautilities.py
Labels: PR: reviewed-approved, Priority: High, Type: Bugfix

#223 [Bug Fix] Corrected bug in nominalDacScalingFactors
  utils/anaInfo.py
Labels: PR: reviewed-approved, Priority: Critical, Type: Bugfix

#222 New Feature: Plotting Time Series HV Plots from DCS Monitoring Files
  doc/man-index.rst
  doc/man/plotTimeSeriesHV.rst
  macros/plotTimeSeriesHV.py
  macros/plot_scurves_by_thresh.py
Labels: PR: reviewed-approved, Priority: Medium, Type: Enhancement
