Repository cms-gem-daq-project/gem-plotting-tools, pull requests merged in 2019-11, with the labels that each got.

#259 [Bug Fix] Fixes Errors with Inflection point finder
  utils/anautilities.py
  utils/threshAlgos.py
Labels: PR: reviewed-approved, Priority: High, Type: Bugfix

#252 Ge21 generalizing
  anaSBitMonitor.py
  anaSBitReadout.py
  anaXDAQLatency.py
  fitting/fitScanData.py
  macros/calibrateThrDac.py
  macros/gemPlotter.py
  macros/plotSCurveFitResults.py
  macros/plotSbitThreshComp.py
  macros/summary_plots.py
  macros/timeHistoryAnalyzer.py
  mapping/chamberInfo.py
  utils/anahistory.py
  utils/anautilities.py
  utils/dbutils.py
  utils/latAlgos.py
  utils/scurveAlgos.py
  utils/threshAlgos.py
Labels: PR: unreviewed

#260 Automatically catch and report bad DAC scan fits
  utils/anaInfo.py
  utils/anautilities.py
  utils/exceptions.py
Labels: PR: unreviewed

#261 [BugFix] Restricted y axis range in SBitThresh Summary Graph
  utils/threshAlgos.py
Labels: PR: reviewed-approved

#264 Get `VREF_ADC` values from the database
  utils/dbutils.py
Labels: PR: reviewed-approved

#263 Fix the vfatID array in the DAC scan analysis
  utils/anautilities.py
Labels: PR: reviewed-approved

#258 Allow the user to set the maxChi2 in the scurve fitting algorithm
  anaUltraScurve.py
  ana_scans.py
  fitting/fitScanData.py
  utils/anaInfo.py
  utils/scurveAlgos.py
Labels: PR: unreviewed, Priority: High, Type: Enhancement

#265 Change DAC scan cut on chi2 to cut on chi2/ndof
  utils/anaInfo.py
  utils/anautilities.py
Labels: PR: reviewed-approved

#270 [Bug Fix] Add missing maxChi2 arg to ScanDataFitter
  fitting/fitScanData.py
Labels: PR: unreviewed

#267 chamberInfo.py should be replaced when the rpm is installed
  pkg/installrpm.sh
Labels: PR: reviewed-approved
